#Ignore thumbnails created by windows
Thumbs.db
#Ignore files build by VC
*.obj
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.txt
#Ignore files build by VS
[Bb]in/
[Dd]ebug/
[Dd]ebug_x86/
[Rr]elease/
obj/
[Tt]est[Rr]esults/
.vs/
packages/
*.vsp
*.opensdf
#Ignore files build by VS2013 use database
*.sdf

#Ignore files build by this project